{{- if eq .chezmoi.hostname "khoa-mac" }}
{{- template "init.lua" dict "themepkg" "marko-cerovac/material.nvim" "themename" "material" -}}
{{ else }}
{{- template "init.lua" dict "themepkg" "folke/tokyonight.nvim" "themename" "tokyonight" -}}
{{- end }}
